* {
  box-sizing: border-box;
}

body {
  background-color: hsl(240, 71%, 5%);
  color: hsl(0, 0%, 60%);
  font-family: sans-serif;
}

.launches {
  display: flex;
  gap: 2rem;

  flex-wrap: wrap;
  justify-content: center;

  padding: 2rem 0;
}

.launch {
  background-color: hsl(9 100% 64% / 0.4);
  width: 40%;
  max-width: 28rem;

  padding: 20px;
  border-radius: 0.5rem;
}

.movie-name {
  color: hsl(0, 0%, 100%);
}
