* {
  box-sizing: border-box;
}

body {
  background-color: hsl(240, 71%, 5%);
  color: hsl(0, 0%, 60%);
  font-family: sans-serif;
}

a:visited,
a:link {
  color: hsl(0, 0%, 100%);
  text-decoration: none;

  font-size: 1rem;
  font-weight: bold;
}

.launches {
  display: flex;
  gap: 2rem;

  flex-wrap: wrap;
  justify-content: center;

  padding: 2rem 0;
}

.launch {
  width: 40%;
  max-width: 28rem;

  padding: 20px;
  border-radius: 0.5rem;

  background: hsla(0, 15%, 29%, 0.2);
  backdrop-filter: blur(10px);
}

.movie-name {
  color: hsl(0, 0%, 100%);
}
